@import "./utility/utility.scss";

// Bootstrap variable overrides
$body-bg: $spotify-darkgrey;
$body-color: $white;

html, 
body {
    height: 100%;
}

@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

.navBar {
  width: 100%;
  height: 25%;
  position: sticky;
  background: $spotify-green;
  top: 0;
  left: 0;
  z-index: 1;
  color: $white;
  padding: 0 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $default-font;

  h1 {
    flex-grow: 1;
    white-space: nowrap;
    margin-right: 15px;
  }

  #navBarLogo {
    max-height: 75px;
    max-width: 150px;
  }
}

.myContainer {
  position: sticky;
  background-color: $black;
  height: 800px;
  padding: 0;
}

#content {
  height: inherit;
  margin-left: 30px;
}

#content>#login, #content>#loggedin {
  height: inherit;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
}

a {
  display:inline-block;
  vertical-align: middle;
  margin-bottom: 25px;
}

.btn-success {
  background-color: $spotify-lightgreen;
  font-family: $default-font;
  width: 36%;
}

.btn-success:hover {
  background-color: $spotify-hover-lightgreen;
}

.btn-danger {
  background-color: $spotify-red;
  font-family: $default-font;
  width: 36%;
}

.btn-danger:hover {
  background-color: $spotify-hover-red;
}