$spotify-green: #1d8954; 
$spotify-lightgreen: #1BB04A; 
$spotify-hover-lightgreen: #1CD155; 
$spotify-red: #E81C2C;
$spotify-hover-red: #ED4251;
$spotify-darkgrey: #131313; //19,19,19
$spotify-lightgrey: #323232; //19,19,19
$white: #ffffff; 
$black: #000000; 
